# Statics

Se crearan 3 funciones con el fin de extraer y ordenar los datos

get_nor_info lo que hace es organizar el DataFrame con los nombres de cada audio para extraer la información de la clase y el speaker, recibe el DataFrame unicamente con una columna con todo el nombre del archivo y retorna un DataFrame cuyas columnas son:  
"Class" que indica la clase    
"Speaker" que indica el hablante

In [1]:
import pandas as pd

In [2]:
def get_nor_info(text_dataFrame, header = 0):
    text_dataFrame[header], a = text_dataFrame[header].str.split(".",1).str
    text_dataFrame["Class"], text_dataFrame[header] = text_dataFrame[header].str.split("/",1).str
    text_dataFrame["Speaker"], text_dataFrame[header], text_dataFrame["Time"] = text_dataFrame[0].str.split("_",2).str
    text_dataFrame = text_dataFrame.drop([header], axis=1)
    return text_dataFrame

get_value_counts recibe el DataFrame organizado y retorna un Data Frame cuyas columnas son:
   "Class" que indica el speaker    
   "Speaker" que indica el hablante  
   "Times" que indica las veces que ese hablante dijo es palabra

In [3]:
def get_value_counts(text_dataFrame):
    return text_dataFrame.groupby(["Class", "Speaker"]).size().reset_index(name="Times")

get_description recibe el dataFrame generado por get_value_counts y retorna un dataFrame con estadísticas básicas

In [4]:
def get_description(text_dataFrame):
    return text_dataFrame.groupby(["Class"]).describe()

## Lo aplicamos al testing list

In [5]:
testing_list = get_nor_info(pd.read_csv("data/testing_list.txt", header = None))
testing_list

       Class   Speaker Time
0      right  bb05582b    3
1      right  97f4c236    2
2      right  f2e59fea    3
3      right  fdb5155e    2
4      right  dc75148d    0
...      ...       ...  ...
11000   four  189cbabe    2
11001   four  8fe67225    3
11002   four  c9e251d2    1
11003   four  0c40e715    0
11004   four  8769c34c    3

[11005 rows x 3 columns]

In [6]:
testing_value_counts = get_value_counts(testing_list)
testing_value_counts

         Class   Speaker  Times
0     backward  03401e93      2
1     backward  0c540988      1
2     backward  0cb74144      4
3     backward  189cbabe      5
4     backward  18f8afd5      5
...        ...       ...    ...
4908      zero  fce96bac      2
4909      zero  fdb5155e      2
4910      zero  fe1916ba      1
4911      zero  ffa76c4a      1
4912      zero  ffb86d3c      2

[4913 rows x 3 columns]

In [7]:
get_description(testing_value_counts)

          Times
          count      mean       std  min  25%  50%   75%   max
Class
backward   43.0  3.837209  1.660898  1.0  2.5  4.0  5.00   9.0
bed       150.0  1.380000  0.720458  1.0  1.0  1.0  2.00   5.0
bird      147.0  1.258503  0.537478  1.0  1.0  1.0  1.00   3.0
cat       151.0  1.284768  0.558301  1.0  1.0  1.0  1.00   4.0
dog       155.0  1.419355  0.728555  1.0  1.0  1.0  2.00   5.0
down      165.0  2.460606  1.617349  1.0  1.0  2.0  4.00   8.0
eight     153.0  2.666667  1.939886  1.0  1.0  2.0  4.00  14.0
five      169.0  2.633136  1.798237  1.0  1.0  2.0  5.00  10.0
follow     43.0  4.000000  1.889822  1.0  3.0  4.0  5.00  10.0
forward    44.0  3.522727  1.704831  1.0  2.0  4.0  5.00   8.0
four      160.0  2.500000  1.648327  1.0  1.0  2.0  4.00   9.0
go        150.0  2.680000  1.796043  1.0  1.0  2.0  4.00  11.0
happy     153.0  1.326797  0.647160  1.0  1.0  1.0  2.00   5.0
house     148.0  1.290541  0.574437  1.0  1.0  1.0  1.25   5.0
learn      49.0  3.285714  1.670828  1.0  1.0  4.0  5.00   6.0
left      168.0  2.452381  1.666182  1.0  1.0  2.0  4.00   9.0
marvin    150.0  1.300000  0.631925  1.0  1.0  1.0  1.00   4.0
nine      163.0  2.503067  1.675437  1.0  1.0  2.0  4.00   8.0
no        153.0  2.647059  1.886484  1.0  1.0  2.0  4.00  13.0
off       166.0  2.421687  1.592562  1.0  1.0  2.0  4.00   7.0
on        160.0  2.475000  1.873180  1.0  1.0  2.0  4.00  15.0
one       158.0  2.525316  1.729104  1.0  1.0  2.0  4.00   9.0
right     165.0  2.400000  1.568750  1.0  1.0  2.0  4.00   9.0
seven     157.0  2.585987  1.739601  1.0  1.0  2.0  4.00   9.0
sheila    152.0  1.394737  0.672624  1.0  1.0  1.0  2.00   4.0
six       152.0  2.592105  1.731497  1.0  1.0  2.0  4.00   7.0
stop      156.0  2.634615  2.254992  1.0  1.0  2.0  4.00  22.0
three     170.0  2.382353  1.613822  1.0  1.0  2.0  3.75   9.0
tree      131.0  1.473282  0.787677  1.0  1.0  1.0  2.00   4.0
two       161.0  2.633540  1.829240  1.0  1.0  2.0  4.00  14.0
up        157.0  2.707006  1.987980  1.0  1.0  2.0  4.00  17.0
visual     49.0  3.367347  1.691817  1.0  1.0  4.0  5.00   6.0
wow       147.0  1.401361  0.668876  1.0  1.0  1.0  2.00   4.0
yes       162.0  2.586420  1.847090  1.0  1.0  2.0  4.75   9.0
zero      156.0  2.679487  1.781580  1.0  1.0  2.0  4.00  10.0

## Lo aplicamos a Training list

In [8]:
training_list = get_nor_info(pd.read_csv("data/training_list.txt", header = None))
training_list

          Class   Speaker Time
0      backward  0165e0e8    0
1      backward  017c4098    0
2      backward  017c4098    1
3      backward  017c4098    2
4      backward  017c4098    3
...         ...       ...  ...
84837      zero  ffd2ba2f    1
84838      zero  ffd2ba2f    2
84839      zero  ffd2ba2f    3
84840      zero  ffd2ba2f    4
84841      zero  fffcabd1    0

[84842 rows x 3 columns]

In [9]:
training_value_counts = get_value_counts(training_list)
training_value_counts

          Class   Speaker  Times
0      backward  0165e0e8      1
1      backward  017c4098      5
2      backward  02ade946      5
3      backward  042a8dde      4
4      backward  050170cb      5
...         ...       ...    ...
39622      zero  ff4ed4f3      3
39623      zero  ff63ab0b      2
39624      zero  ffbb695d      3
39625      zero  ffd2ba2f      5
39626      zero  fffcabd1      1

[39627 rows x 3 columns]

In [10]:
get_description(training_value_counts)

           Times
           count      mean       std  min  25%  50%  75%   max
Class
backward   376.0  3.579787  2.053684  1.0  2.0  4.0  5.0  23.0
bed       1152.0  1.383681  0.677562  1.0  1.0  1.0  2.0   6.0
bird      1224.0  1.386438  0.681621  1.0  1.0  1.0  2.0   7.0
cat       1209.0  1.369727  0.670902  1.0  1.0  1.0  2.0   4.0
dog       1256.0  1.362261  0.647503  1.0  1.0  1.0  2.0   5.0
down      1330.0  2.356391  1.684495  1.0  1.0  2.0  4.0  14.0
eight     1262.0  2.403328  1.666887  1.0  1.0  2.0  4.0  15.0
five      1302.0  2.488479  1.740534  1.0  1.0  2.0  4.0  19.0
follow     385.0  3.311688  1.699109  1.0  2.0  4.0  5.0  11.0
forward    379.0  3.313984  1.656825  1.0  2.0  4.0  5.0  10.0
four      1303.0  2.267843  1.531423  1.0  1.0  2.0  3.0  14.0
go        1304.0  2.381902  1.638423  1.0  1.0  2.0  4.0  12.0
happy     1191.0  1.370277  0.680896  1.0  1.0  1.0  2.0   7.0
house     1237.0  1.396120  0.686144  1.0  1.0  1.0  2.0   5.0
learn      413.0  3.113801  2.007058  1.0  1.0  3.0  5.0  24.0
left      1289.0  2.356090  1.616000  1.0  1.0  2.0  4.0  12.0
marvin    1258.0  1.359300  0.642932  1.0  1.0  1.0  2.0   6.0
nine      1335.0  2.374532  1.660172  1.0  1.0  2.0  4.0  12.0
no        1266.0  2.472354  1.755293  1.0  1.0  2.0  4.0  18.0
off       1248.0  2.379808  1.608909  1.0  1.0  2.0  4.0  16.0
on        1284.0  2.403427  1.677652  1.0  1.0  2.0  4.0  19.0
one       1303.0  2.409823  1.670921  1.0  1.0  2.0  4.0  12.0
right     1283.0  2.353079  1.644984  1.0  1.0  2.0  4.0  15.0
seven     1332.0  2.406156  1.680594  1.0  1.0  2.0  4.0  11.0
sheila    1144.0  1.403846  0.707059  1.0  1.0  1.0  2.0   6.0
six       1270.0  2.431496  1.738078  1.0  1.0  2.0  4.0  14.0
stop      1278.0  2.434272  1.680879  1.0  1.0  2.0  4.0  17.0
three     1264.0  2.346519  1.566733  1.0  1.0  2.0  4.0  11.0
tree      1000.0  1.407000  0.716844  1.0  1.0  1.0  2.0   7.0
two       1260.0  2.469048  1.715183  1.0  1.0  2.0  4.0  15.0
up        1234.0  2.388979  1.598177  1.0  1.0  2.0  4.0  11.0
visual     419.0  3.073986  1.703294  1.0  1.0  4.0  5.0   7.0
wow       1244.0  1.385852  0.687078  1.0  1.0  1.0  2.0   5.0
yes       1305.0  2.473563  1.857529  1.0  1.0  2.0  4.0  20.0
zero      1288.0  2.523292  1.715440  1.0  1.0  2.0  4.0  13.0

## Lo aplicamos a Validation list

In [11]:
validation_list = get_nor_info(pd.read_csv("data/validation_list.txt", header = None))
validation_list

      Class   Speaker Time
0     right  a69b9b3e    0
1     right  439c84f4    1
2     right  409c962a    1
3     right  dbaf8fc6    2
4     right  a6d586b7    1
...     ...       ...  ...
9976   four  d107dc42    0
9977   four  ad63d93c    0
9978   four  d3831f6a    1
9979   four  3c4aa5ef    3
9980   four  c6389ab0    0

[9981 rows x 3 columns]

In [12]:
validation_value_counts = get_value_counts(training_list)
validation_value_counts

          Class   Speaker  Times
0      backward  0165e0e8      1
1      backward  017c4098      5
2      backward  02ade946      5
3      backward  042a8dde      4
4      backward  050170cb      5
...         ...       ...    ...
39622      zero  ff4ed4f3      3
39623      zero  ff63ab0b      2
39624      zero  ffbb695d      3
39625      zero  ffd2ba2f      5
39626      zero  fffcabd1      1

[39627 rows x 3 columns]

In [13]:
get_description(validation_value_counts)

           Times
           count      mean       std  min  25%  50%  75%   max
Class
backward   376.0  3.579787  2.053684  1.0  2.0  4.0  5.0  23.0
bed       1152.0  1.383681  0.677562  1.0  1.0  1.0  2.0   6.0
bird      1224.0  1.386438  0.681621  1.0  1.0  1.0  2.0   7.0
cat       1209.0  1.369727  0.670902  1.0  1.0  1.0  2.0   4.0
dog       1256.0  1.362261  0.647503  1.0  1.0  1.0  2.0   5.0
down      1330.0  2.356391  1.684495  1.0  1.0  2.0  4.0  14.0
eight     1262.0  2.403328  1.666887  1.0  1.0  2.0  4.0  15.0
five      1302.0  2.488479  1.740534  1.0  1.0  2.0  4.0  19.0
follow     385.0  3.311688  1.699109  1.0  2.0  4.0  5.0  11.0
forward    379.0  3.313984  1.656825  1.0  2.0  4.0  5.0  10.0
four      1303.0  2.267843  1.531423  1.0  1.0  2.0  3.0  14.0
go        1304.0  2.381902  1.638423  1.0  1.0  2.0  4.0  12.0
happy     1191.0  1.370277  0.680896  1.0  1.0  1.0  2.0   7.0
house     1237.0  1.396120  0.686144  1.0  1.0  1.0  2.0   5.0
learn      413.0  3.113801  2.007058  1.0  1.0  3.0  5.0  24.0
left      1289.0  2.356090  1.616000  1.0  1.0  2.0  4.0  12.0
marvin    1258.0  1.359300  0.642932  1.0  1.0  1.0  2.0   6.0
nine      1335.0  2.374532  1.660172  1.0  1.0  2.0  4.0  12.0
no        1266.0  2.472354  1.755293  1.0  1.0  2.0  4.0  18.0
off       1248.0  2.379808  1.608909  1.0  1.0  2.0  4.0  16.0
on        1284.0  2.403427  1.677652  1.0  1.0  2.0  4.0  19.0
one       1303.0  2.409823  1.670921  1.0  1.0  2.0  4.0  12.0
right     1283.0  2.353079  1.644984  1.0  1.0  2.0  4.0  15.0
seven     1332.0  2.406156  1.680594  1.0  1.0  2.0  4.0  11.0
sheila    1144.0  1.403846  0.707059  1.0  1.0  1.0  2.0   6.0
six       1270.0  2.431496  1.738078  1.0  1.0  2.0  4.0  14.0
stop      1278.0  2.434272  1.680879  1.0  1.0  2.0  4.0  17.0
three     1264.0  2.346519  1.566733  1.0  1.0  2.0  4.0  11.0
tree      1000.0  1.407000  0.716844  1.0  1.0  1.0  2.0   7.0
two       1260.0  2.469048  1.715183  1.0  1.0  2.0  4.0  15.0
up        1234.0  2.388979  1.598177  1.0  1.0  2.0  4.0  11.0
visual     419.0  3.073986  1.703294  1.0  1.0  4.0  5.0   7.0
wow       1244.0  1.385852  0.687078  1.0  1.0  1.0  2.0   5.0
yes       1305.0  2.473563  1.857529  1.0  1.0  2.0  4.0  20.0
zero      1288.0  2.523292  1.715440  1.0  1.0  2.0  4.0  13.0